@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/placeholders" as *;

/* FOOTER */

.footer {
    background: linear-gradient(#f8f8f8, #ececec);
}

.footer p {

    margin: 0;

    font-size: $font-sm;

    color: $text-light;

}

.footerMenu {

    display: flex;

    justify-content: flex-end;

    align-items: center;

    gap: 20px;

}

.footerMenu a {

    color: $text;

    font-size: $font-sm;

    font-weight: $medium;

    transition: $transition;

}

.footerMenu a:hover {

    color: $primary;

}

.footerMenu a.active {

    color: $primary;

    font-weight: $bold;

}

.footer .row {

    align-items: center;

}

/* RESPONSIVO */

@include tablet {

    .footer {

        text-align: center;

    }

    .footerMenu {

        justify-content: center;

        margin-top: 15px;

        flex-wrap: wrap;

    }

}

@include mobile {

    .footer {

        padding: 15px 0;

    }

    .footerMenu {

        gap: 12px;

    }

    .footerMenu a {

        font-size: 13px;

    }

}
