@use "../global/variables.scss" as *;

//==================================================
// Página
//==================================================

.page{
    display:flex;
    min-height:100vh;
}

//==================================================
// Lado esquerdo
//==================================================

.leftSide{
    display:flex;
    width:50%;
}

.yellowColumn,
.blueColumn{
    width:50%;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.yellowColumn{
    background:$yellow;
}

.blueColumn{
    background:$blue;
}

//==================================================
// Imagens
//==================================================

.clapboard{
    max-width: 240px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.ticket{
    max-width: 240px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

//==================================================
// Lado direito
//==================================================

.rightSide{
    background: #f7f7f7;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 55px 10px;
    display: flex;
    flex-direction: column;
}


//==================================================
// Logo
//==================================================

.logo{
    margin-bottom:40px;

    img{
        width:210px;
    }

}

//==================================================
// Texto auxiliar
//==================================================

small{
    display:block;
    margin-top:10px;
    margin-bottom:10px;
    color:#ffffff;
    font-size:11px;
    text-transform:uppercase;
}

//==================================================
// Barra inferior
//==================================================

.bottomBox{
    width:540px;
    height:84px;
    background:#555;
    margin-top:40px;
}

