@use "../global/variables.scss" as *;
// Formulários
.loginBox form,
.registerBox form{
    padding:18px;
}

label{
    display:block;
    color:#fff;
    font-size:13px;
    margin-bottom:6px;
    text-transform:uppercase;
}

.formControl{
    border-radius: 0 !important;
    border: 0 !important;
    
    &:focus{
        box-shadow:none !important;
        border:none !important;
    }
}
// Área senha
.password{
    position:relative;
}

.showPassword{
    position:absolute;
    right:6px;
    bottom:4px;
    width:28px;
    height:28px;
    border:none;
    background:transparent;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;

    img{
        width:20px;
    }

    &.active {
        transform: rotateZ(90deg);
    }

}
// Botões Login
.loginButtons{
    display:flex;
    gap:10px;
    margin:18px 0;
}

.btnLogin{
    flex:1;
}

.loginButtons a{
    color: #fff;
    text-transform: uppercase;
    flex: 1;
    justify-content: left;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
    transition: all .25s;
    display: flex;
}
// Botões Register
button.btn {
    background: #000;
    color: #FFF;
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 13px;

    &:hover{
        background:#000;
        color:#fff;
    }
}
