// RESPONSIVO
@media(max-width:991px){

    .movieCard{
        height:250px;
    }

}

@media(max-width:768px){

    .home{
        padding-top:40px;
    }

    .logo{

        img{
            width:220px;
        }

    }

    .movieCard{
        height:auto;
        padding:45px 25px;

        .icon{
            width:95px;
            height:95px;

            img{
                width:60px;
            }

        }

        p{
            width:100%;
            font-size:16px;
        }

    }

    .registrationButton{
        font-size:28px;
        padding:22px;
    }

    .signature{
        flex-direction:column;
        gap:5px;
        text-align:center;
    }

}

@media(max-width:576px){

    .cards{
        padding:0 15px;
    }

    .movieCard{
        margin-bottom:15px;
    }

    .registrationButton{
        font-size:22px;
    }

}
// Responsivo
@media (max-width:992px){

    .page{
        flex-direction:column;
    }

    .leftSide{
        width: 100% !important;
        height:280px;
    }

    .rightSide{
        width: 100% !important;
        padding:40px 20px;
    }

    .yellowColumn,
    .blueColumn{
        min-height:280px;
    }

    .clapboard{
        width: 100% !important;
        position: relative !important;
        top: 0 !important;
        transform: none !important;
    }

    .ticket{
        width: 100% !important;
        position: relative !important;
        top: 0 !important;
        transform: none !important;
    }

    .bottomBox{
        display:none;
    }

}

@media (max-width:768px){

    .leftSide{
        display:none;
    }

    .loginWrapper{
        max-width:100%;
    }

    .footer{
        position:relative;
        width:100%;
    }

    .loginButtons{
        flex-direction:column;
    }

}

