//==================================================
// Variáveis
//==================================================

$font-default: 'Montserrat', sans-serif;
$font-title: 'Anton', sans-serif;

$bg: #3b3b3b;

$dark: #343434;
$red: #ef5a5a;
$gray: #555;

$green: #c8d63a;
$blue: #59c5e2;
$yellow: #eed04e;
$pink: #ec5f97;

$black: #222;
$white: #fff;
$light: #d9d9d9;