@use "../global/variables.scss" as *;

//==================================================
// Alerta
//==================================================

.alertError{
    background:#ef5a5a;
    color:#3b0000;
    padding:8px 12px;
    margin:12px 0 18px;
    font-size:12px;
    font-weight:600;
    text-transform:uppercase;
    display: none;

    &.show{
        display:block;
    }
}
