@use "../global/variables.scss" as *;
// CTA
.cta {
    min-height: 184px;
    padding: 53px 16px 50px;
    background: $light;
}

.registrationButton {
    display: grid;
    width: min(558px, 100%);
    min-height: 81px;
    margin: 0 auto;
    place-items: center;
    padding: 18px;
    border-radius: 2px;
    background: $black;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    transition: .3s;

    &:hover {
        background: #111;
        color: $white;
    }
}
