@use "../global/variables.scss" as *;
// ASSINATURA
.signature{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    color: #fff;
    background: #111;
    gap: 3px 6px;
    padding: 4px 7px;
    font-family: "Share Tech Mono", monospace;
    font-size: 10px;
    font-weight: 400;
    box-shadow: none;
    position: fixed;
    bottom: 4px;
    left: 4px;
    z-index: 60;

    .text{
        color: #ffd84d;
    }

    .name{

        display: flex;
        align-items: center;

        a {
            display: inline-flex;
            align-items: center;
            color:#ffd84d;
            font-weight:700;
        }

    }

    img.icon {
        display: block;
        width: 12px;
        margin: 0 5px 0 0;
    }

    .copyright {
        grid-column: 1 / -1;
        color: #fff;
        font-size: 8px;
    }

}
// FOOTER
