@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/placeholders" as *;

/* BUTTONS */

button {

    border: none;

    outline: none;

    cursor: pointer;

    transition: $transition;

}

/* Botão Primário */

.btnPrimary {

    @extend %button;

    height: 42px;

    padding: 0 22px;

    background: $primary;

    color: #fff;

    border-radius: $radius-sm;

    font-size: $font-sm;

    font-weight: $bold;

}

.btnPrimary:hover {

    background: $primary-dark;

}

/* Botão Secundário */

.btnSecondary {

    @extend %button;

    height: 42px;

    padding: 0 22px;

    background: #ececec;

    border: 1px solid $border;

    border-radius: $radius-sm;

}

.btnSecondary:hover {

    background: #dcdcdc;

}

/* Botão Circular */

.btnCircle {

    @include size(42px);

    @include flex(center, center);

    border-radius: 50%;

    background: $primary;

    color: #fff;

}

.btnCircle:hover {

    transform: rotate(90deg);

}

/* Botão Danger */

.btnDanger {

    background: $danger;

    color: #fff;

}

.btnDanger:hover {

    background: darken($danger, 10%);

}
