@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/placeholders" as *;

/* ==========================================================
   RESET
========================================================== */

*,
*::before,
*::after {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

html {

    scroll-behavior: smooth;

}

body {

    min-height: 100vh;

    background: $background;

    color: $text;

    font-family: $font-primary;

    -webkit-font-smoothing: antialiased;

    text-rendering: optimizeLegibility;

}

img {

    display: block;

    max-width: 100%;

}

a {

    text-decoration: none;

    color: inherit;

}

button,
input,
textarea,
select {

    font: inherit;

}

button {

    cursor: pointer;

    background: none;

    border: none;

}

ul,
ol {

    list-style: none;

}

table {

    border-collapse: collapse;

    border-spacing: 0;

}

fieldset {

    border: 0;

}

textarea {

    resize: vertical;

}

input:focus,
textarea:focus,
select:focus {

    outline: none;

}
